/*发布游记头部*/
.clear {
    clear: both;
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
.set-index{
    background: url(../../images/li/travelnote/Icon/page_bg.jpeg) center no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
}
.set-bg-toppiccnt{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    overflow: hidden;
}
.set-bg-toppiccnt img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.set-index .set-page{
    position: relative;
    margin: auto;
    width: 490px;
    height: 100px;
    transform: translateY(150px);
    color: #6b6b6b;
}
.set-page a.set-add {
    width: 67px;
    height: 67px;
    float: left;
    margin-right: 20px;
    background: url(../../images/li/travelnote/Icon/add_photo.jpeg) -10px 0 no-repeat;
    position: relative;
}
.set-page h2 {
    margin-top: 2px;
}
.set-page p {
    margin-top: 12px;
    font-size: 16px;
}
.add-photo{
    width: 80px;
    height: 80px;
    transform: translateY(-85px);
}
.upload-head{
    font-size: 999px;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.clear {
    clear: both;
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
.set-title{
    position: relative;
    width: 938px;
    height: 60px;
    line-height: 60px;
    margin: auto;
    background: #fff;
    border: 1px solid #fff;
    box-shadow: 0 2px 2px #dcdadf;
    transform: translateY(285px);
}
.set-title input {
    width: 920px;
    height: 59px;
    line-height: 59px;
    font-size: 18px;
    padding-left: 20px;
    border: 0;
    color: #666;
}
.set-title span {
    float: right;
    color: #999;
    position: relative;
    padding-right: 10px;
}
.set-title span strong {
    color: #f00;
    font-weight: normal;
}
/*发布游记主体*/
.publish-main{
    margin: auto;
    text-align: left;
    width: 1100px;
}
.publish-input{
    /*height: 400px;*/
}
#textarea_container{
    border: 1px solid #999999;
}
.action-ft {
    margin: auto;
    line-height: 120px;
    margin-top: 10px;
}
.action-ft .action-btn {
    width: 400px;
    margin: auto;
}
.action-ft .action-btn a{
    display: inline-block;
    height: 60px;
    line-height: 60px;
    margin-left: 25px;
    padding: 0 55px;
    font-size: 20px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 0 7px rgba(0 0 0 0.15);
    vertical-align: middle;
    border: 1px solid;
}
.btn-cancel{
    background: #ffffff;
    color: #ff9d00;
}
.btn-publish{
    background: #ff9d00;
    color: #ffffff;
}

/*选择游记信息*/
 .layui-form{
     width: 750px;
     height: 210px;
     margin: auto;
     transform: translateY(35px);
     z-index: 100;
 }
.form-confirm{
    text-align: center;
}
.layui-form-item .layui-inline{
    width: 310px;
    margin: 10px;
}
.layui-form-item input{
    width: 180px;
    height: 38px;
    line-height: 1.3;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    border-radius: 0 2px 2px 0;
    border-color: #eee;
    padding-left: 20px;
}
.layui-layer-msg{
    top: 300px;
}


