/*游记主体*/
.set-index{
    height: 500px;
    background-size: cover;
    position: relative;
}
.set-bg-load-cover{
    background-size: cover;
    float: left;
    position: relative;
    width: 100%;
}
.set-bg-load-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.set-title{
    width: 100%;
    height: 90px;
    float: left;
    transform:translateY(-90px);
}
.set-title > .title-info {
    width: 830px;
    margin-left: 400px;
}
.set-title > .title-info > .travelnote-title{
    width: 710px;
    height: 90px;
    line-height: 90px;
    font-size: 26px;
    font-weight: bold;
    color: #FFFFFF;
    /*设置多余汉字显示省略号*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.set-info{
    height: 170px;
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
    box-shadow: 0 2px 0 #ebebeb;
    position: relative;
    float: left;
    transform: translateY(-175px);
}
.set-info .user-head{
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin-left: 250px;
}
.set-info .user-head img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.set-info > .person{
    width: 480px;
    float: left;
    position: relative;
    margin-left: 400px;
    transform: translateY(-15px);
}
.person-name{
    display: inline-block;
    float: left;
    font-size: 14px;
    text-align: center;
    width: auto;
    color: #ff7200;
    font-weight: bold;
    margin-right: 20px;
    cursor: default;
}
.person-follow{
    display: inline-block;
    float: left;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    background-color: #ff9d00;
    width: 55px;
    margin-right: 20px;
    border-radius: 3px;
    cursor: default;
}
.glyphicon-plus{
    color: #FFFFFF;
    font-size: 12px;
    margin-left: 5px;
}
.publish-time{
    color: #acacac;
    display: inline;
    float: left;
    line-height: 20px;
}
.publish-time span {
    display: inline-block;
    margin-right: 15px;
    font-size: 12px;
}
.publish-time .time, .publish-time span {
    font-family: Verdana,Arial,Helvetica,STHeiti;
}
.publish-time span img{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: -5px;
    user-select: none;
}
.bar-collection-like{
    float: right;
    height: 80px;
    border-right: 1px solid #e8e8e6;
    transform: translateY(-33px);
    margin-right: 220px;
}
.bar-collection-like .collection{
    width: 120px;
    height: 80px;
    padding-top: 13px;
    border-left: 1px solid #e8e8e6;
    float: left;
}
.bar-collection-like .like{
    width: 120px;
    height: 80px;
    padding-top: 13px;
    border-left: 1px solid #e8e8e6;
    float: right;
}
.bar-collection-like a{
    text-align: center;
    width: 100%;
    height: 100%;
}
.bar-collection-like a i{
    color: #000000;
    width: 100%;
    height: 30px;
    font-size: 30px;
}
.bar-collection-like span{
    font-size: 14px;
    padding-top: 6px;
    color: #666;
    float: left;
    width: 100%;
}
.travelnote-view{
    position: relative;
    width: 710px;
    margin: 10px auto 0;
    transform: translateY(80px);
}
.view-con{
    width: 700px;
    float: left;
    transform: translateY(-230px);
}
.travelnote-directory{
    border: 1px dashed #d7d7d7;
    width: 100%;
    border-radius: 4px;
    position: relative;
    overflow: auto;
}
.travelnote-dir-list{
    margin-left: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}
.travelnote-dir-list ul{
    width: 100%;
}
.travelnote-dir-list ul li{
    width: 210px;
    margin-top: 20px;
    margin-left: 15px;
    float: left;
    display: inline;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}
.travelnote-dir-list ul li span{
    color: #FF9D00;
    margin: 0 5px;
}
.travelnote-dir-list img{
    width: 22px;
    height: 22px;
    float: left;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    margin: 0 7px;
}
.vc-article{
    margin-top: 30px;
}
.master-content p{
    font-size: 15px;
    line-height: 28px;
    color: #444;
}
.content-box div img {
    width: 100%;
    object-fit: cover;
    position: relative;
    background: rgb(252,242,220);
    display: block;
}
.add-pic{
    position: relative;
    background: #fff;
    margin-bottom: 20px;
}
.content-box p{
    margin-bottom: 20px;
    text-align: justify;
    word-break: break-word;
    font-size: 15px;
    line-height: 28px;
}
.article-title{
    position: relative;
}
.article-title h2 span{
    height: 70px;
    line-height: 70px;
    font-size: 22px;
    display: block;
}
.vc-article .report{
    float: left;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    margin-top: 20px;
}
.vc-article .report a{
    color: #333;
    float: right;
    margin-right: 8px;
}

/*游记评论*/
.note-reply-bottomReplyApi{
    float: left;
    transform: translateY(-200px);
}
.freego-cmt-warp{
    width: 680px;
    margin: 0 10px;
}
.freego-cmt-item{
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 24px;
    float: left;
}
.freego-cmt-item .comment-info{
    width: 100%;
    height: 48px;
    line-height: 48px;
    background-color: #f6f6f6;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}
.freego-cmt-item .comment-info .comment-user-head{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    position: relative;
}
.freego-cmt-item .comment-info .comment-user-head img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.freego-cmt-item .comment-info .comment-user-nickname{
    float: left;
}
.freego-cmt-item .comment-info .comment-user-nickname a{
    float: left;
    color: #ff8a00;
}
.freego-cmt-item .comment-info .comment-user-nickname p{
    float: left;
    margin: 0 10px;
}
.freego-cmt-item .comment-con-warp{
    padding-left: 68px;
    margin-top: 12px;
    position: relative;
}
.freego-cmt-item .comment-con-warp .comment-con{
    width: 486px;
    float: left;
}
.freego-cmt-item .comment-con-warp .comment-con .comment-word{
    color: #666;
    font-size: 14px;
    margin-top: 10px;
}
.freego-cmt-item .comment-bot{
    float: left;
    width: 100%;
    height: 24px;
    line-height: 24px;
    color: #999;
    margin-top: 16px;
}
.freego-cmt-item .comment-bot .time{
    float: left;
}
.freego-cmt-item .comment-bot .option{
    float: right;
    padding-right: 5px;
}
.freego-cmt-item .comment-bot .option .reply{
    margin: 0 5px;
    color: #ff9d00;
}
.comment-reply-warp{
    float: left;
}
.comment-tab{
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    color: #ff9d00;
    border-bottom: 1px solid #e4e4e4;
    margin-left: 68px;
    margin-bottom: 20px;
}
.comment-tab div{
    width: 200px;
    height: 44px;
    text-align: center;
    border-bottom: 3px solid;
}
.comment-tab-con{
    padding-left: 68px;
    position: relative;
}
.comment-tab-con .photo-con{
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;
}
.comment-tab-con .photo-con img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.reply-con .reply-text{
    padding: 5px;
    border: 1px solid #e5e5e5;
}
.reply-con .reply-text textarea{
    outline: 0;
    border: 0;
    padding: 0;
    width: 600px;
    height: 180px;
    resize: none;
    color: #666;
    line-height: 22px;
}
.reply-con .reply-submit{
    float: right;
    margin-top: 20px;
}
.reply-con .reply-submit a{
    display: block;
    width: 160px;
    height: 40px;
    background-color: #ff9d00;
    border-radius: 4px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: #fff;
}





























