/*头部搜索栏*/
.search-bar{
    float: left;
    width: 300px;
    height: 60px;
    overflow: hidden;
}
.search-wrapper{
    float: left;
    width: 200px;
    position: relative;
    margin-top: 11px;
    margin-left: 30px;
}
.search-wrapper .search-input{
    height: 38px;
    overflow: hidden;
}
.search-wrapper .search-input input{
    border: 1px solid #efefef;
    height: 38px;
    padding: 0 10px 0 20px;
    margin: 0;
    line-height: 38px;
    font-size: 14px;
    color: #666;
    border-radius: 4px;
    background-color: #efefef;
}
.glyphicon-search{
    position: absolute;
    top: 8px;
    right: 10px;
    color: #5e5e5e;
    font-size: 23px;
    background-position: -30px -150px!important;
}

/*游记主体*/
.set-index{
    height: 500px;
    background-size: cover;
    position: relative;
}
.set-bg-load-cover{
    background-size: cover;
    float: left;
    position: relative;
    width: 100%;
}
.set-bg-load-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.set-title{
    width: 100%;
    height: 90px;
    float: left;
    transform:translateY(-90px);
}
.set-title > .title-info {
    width: 830px;
    margin-left: 400px;
}
.set-title > .title-info > .travelnote-title{
    width: 710px;
    height: 90px;
    line-height: 90px;
    font-size: 26px;
    font-weight: bold;
    color: #FFFFFF;
    /*设置多余汉字显示省略号*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.set-info{
    height: 170px;
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
    box-shadow: 0 2px 0 #ebebeb;
    position: relative;
    float: left;
    transform: translateY(-175px);
}
.set-info .user-head{
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin-left: 250px;
}
.set-info .user-head img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.set-info > .person{
    width: 480px;
    float: left;
    position: relative;
    margin-left: 400px;
    transform: translateY(-15px);
}
.person a{
    display: inline-block;
    float: left;
    font-size: 14px;
}
.person a.person-name{
    width: auto;
    color: #ff7200;
    font-size: 14px;
    font-weight: bold;
    float: left;
    margin-right: 20px;
}
.person-follow{
    color: #FFFFFF;
    background-color: #ff9d00;
    width: 55px;
    margin-right: 20px;
    border-radius: 3px;
}
.glyphicon-plus{
    color: #FFFFFF;
    font-size: 12px;
    margin-left: 5px;
}
.publish-time{
    color: #acacac;
    display: inline;
    float: left;
    line-height: 20px;
}
.publish-time span {
    display: inline-block;
    margin-right: 15px;
    font-size: 12px;
}
.publish-time .time, .publish-time span {
    font-family: Verdana,Arial,Helvetica,STHeiti;
}
.publish-time span img{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: -5px;
    user-select: none;
}
.bar-collection-like{
    float: right;
    height: 80px;
    border-right: 1px solid #e8e8e6;
    transform: translateY(-33px);
    margin-right: 220px;
}
.bar-collection-like .collection{
    width: 120px;
    height: 80px;
    padding-top: 13px;
    border-left: 1px solid #e8e8e6;
    float: left;
}
.bar-collection-like .like{
    width: 120px;
    height: 80px;
    padding-top: 13px;
    border-left: 1px solid #e8e8e6;
    float: right;
}
.bar-collection-like a{
    text-align: center;
    width: 100%;
    height: 100%;
}
.bar-collection-like a i{
    color: #000000;
    width: 100%;
    height: 30px;
    font-size: 30px;
}
.bar-collection-like span{
    font-size: 14px;
    padding-top: 6px;
    color: #666;
    float: left;
    width: 100%;
}
.travelnote-view{
    position: relative;
    width: 1010px;
    margin: 10px auto 20px;
    transform: translateY(80px);
}
.view-con{
    width: 700px;
    float: left;
    transform: translateY(-230px);
}
.travelnote-directory{
    border: 1px dashed #d7d7d7;
    width: 100%;
    border-radius: 4px;
    position: relative;
    overflow: auto;
}
.travelnote-dir-list{
    margin-left: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}
.travelnote-dir-list ul{
    width: 100%;
}
.travelnote-dir-list ul li{
    width: 210px;
    margin-top: 20px;
    float: left;
    display: inline;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}
.travelnote-dir-list ul li span{
    color: #FF9D00;
    margin: 0 5px;
}
.travelnote-dir-list img{
    width: 22px;
    height: 22px;
    float: left;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    margin: 0 7px;
}
.vc-article{
    margin-top: 30px;
}
.master-content p{
    font-size: 15px;
    line-height: 28px;
    color: #444;
}
.content-box div img {
    width: 100%;
    object-fit: cover;
    position: relative;
    background: rgb(252,242,220);
    display: block;
}
.add-pic{
    position: relative;
    background: #fff;
    margin-bottom: 20px;
}
.content-box p{
    margin-bottom: 20px;
    text-align: justify;
    word-break: break-word;
    font-size: 15px;
    line-height: 28px;
}
.article-title{
    position: relative;
}
.article-title h2 span{
    height: 70px;
    line-height: 70px;
    font-size: 22px;
    display: block;
}
.vc-article .report{
    float: left;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    transform: translateY(-18px);
}
.vc-article .report a{
    color: #333;
    float: right;
    margin-right: 8px;
}

/*游记目录*/
.view-side{
    float: right;
    position: fixed;
    top: 100px;
    right: 10px;
    height: 500px;
    width: 240px;
    z-index: 1040;
}
.notes-catalog{
    width: 240px;
}
.notes-catalog .side-title{
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1;
}
.catalog-content{
    font-size: 14px;
    line-height: 26px;
}
.catalog-content li{
    margin-bottom: 10px;
    padding-left: 30px;
}
.catalog-content .catalog-num{
    float: left;
    margin-left: -30px;
    color: #ccc;
}
.catalog-content li a{
    color: #999;
}

/*游记评论*/
.note-reply-bottomReplyApi{
    float: left;
    width: 700px;
}
















